body{
  margin:0;
  padding:0;
  width:100%;
  text-align: center;
}

#wrapper{
  width:100%;
  height: 100%;
}

.slideshow-row{
  height:75vh;
  width:100%;
  background-color: purple;
  text-align:center;
}

.calendar-row{
  height:25vh;
  width:100%;
  background-color: purple;
  text-align:center;
}


.myimg{
  width:100%;
  height:100%;
  object-fit: cover;
  text-align: center;
}

.calendar{
  height:50%;
  width:100%;
}

.date-header{
  background: black;
  color: white;
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.calendar-day{
  background: black;
  color: white;
  text-align: center;
  padding:10px;
  font-family: 'Raleway', sans-serif;
  font-size: 40px
}

.event-data{
  background: black;
  color: white;
  padding: 0px
}

table{
  height:100%;
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}


#calendar{
  height:100%;
  width:100%;
}



